h1,p {
    color:rgb(9, 111, 132);
    font-size: 30px;
}
#parrafo1, br{
    color:peru;
    font-size: 30px;
    text-align: center;
}

#parrafo2{
    color: rgb(0, 255, 195);
    font-size: 30px;
}

#id, li, option {
    color: rgb(11, 54, 208);
}

.parrafoGenerico{
    color: green;
    font-size: 8px;
    text-align: center;
}